/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

// Global Styles:
.container {
  margin: 0 auto;
  margin-top: -5%;
}

.btn {
  margin: 1%;
}

.card {
  border-radius: 10px;
}

.hide {
  display: none;
}

::placeholder {
  font-size: 12px;
  font-style: italic;
  opacity: 0.7;
}

//////////// CK EDITOR STYLING //////////////////////////

.ck {
  height: 200px;
}

// ckeditor: Placeholder
.ck.ck-editor__editable > .ck-placeholder::before {
  color: lightgrey;
  font-family: Georgia;
}

// CKEDITOR: Font
.ck-content .text-tiny {
  font-size: 0.7em;
}

.ck-content .text-small {
  font-size: 0.85em;
}

.ck-content .text-big {
  font-size: 1.4em;
}

.ck-content .text-huge {
  font-size: 1.8em;
}

/////////////////////////////////////////////////////////
