/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

// regular style toast
@import "~ngx-toastr/toastr";

@import "~perfect-scrollbar/css/perfect-scrollbar.css";

// Global Styles:
.container {
  margin: 0 auto;
  margin-top: -5%;
}

.btn {
  margin: 1%;
}

.card {
  border-radius: 10px;
}

.hide {
  display: none;
}

::placeholder {
  font-size: 12px;
  font-style: italic;
  opacity: 0.7;
}

//////////// CK EDITOR STYLING //////////////////////////

.ck {
  height: 200px;
}

// ckeditor: Placeholder
.ck.ck-editor__editable > .ck-placeholder::before {
  color: lightgrey;
  font-family: Georgia;
}

// CKEDITOR: Font
.ck-content .text-tiny {
  font-size: 0.7em;
}

.ck-content .text-small {
  font-size: 0.85em;
}

.ck-content .text-big {
  font-size: 1.4em;
}

.ck-content .text-huge {
  font-size: 1.8em;
}

/////////////////////////////////////////////////////////

body {
  font-size: 0.9rem;
}

.page-wrapper.toggled .sidebar {
  left: -300px;
}

// angular perfect scrollbar style
.sidebar .ps.ps--scrolling-y > .ps__rail-y,
.sidebar > .ps.ps--scrolling-x > .ps__rail-x,
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: transparent !important;
}

.sidebar .ps.ps--active-y > .ps__rail-y:hover,
.sidebar > .ps.ps--active-y > .ps__rail-y.ps--clicking {
  width: 10px !important;
}

.ps__thumb-y {
  background-color: #fff !important;
  width: 6px !important;
  border-radius: 0px !important;
  opacity: 0.5;
}
