/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.container {
  margin: 5rem;
}

.btn {
  margin: 1%;
}

.card {
  border-radius: 10px;
}
