/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.container {
  margin: 5rem;
}

.btn {
  margin: 1%;
}

.card {
  border-radius: 10px;
}

//////////// CK EDITOR STYLING //////////////////////////

// ckeditor: Placeholder
.ck.ck-editor__editable > .ck-placeholder::before {
  color: #d21714;
  font-family: Georgia;
}

/////////////////////////////////////////////////////////
